:root {
    --color-principal: #3498db;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.title {
    color: var(--color-principal);
    text-align: center;
    font-family: Arial, sans-serif;
}