:root {
    --color-principal: #009048;
    --muted-opacity: 0.65;
    height: 672px;
    --main-font: "AmericanTypewriter", serif;
}

*{
    box-sizing: border-box;
}

body {
    background-image:
          url("/src/assets/fondo.png"),
          linear-gradient(#d7e0fd);
    background-repeat: repeat;
    background-size: 100px;
    background-blend-mode: multiply;
    font-family: "AmericanTypewriter", serif;
    max-height: 667px;
}

@font-face {
  font-family: "AmericanTypewriter";
  src: url("./assets/fonts/American-Typewriter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AmericanTypewriter";
  src: url("./assets/fonts/American-Typewriter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}







